.positif{
  text-align: center;
  border-width: px;
  border-color: black;
  background-color:rgb(250, 72, 49);
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  width: 140px;
  font-size: 1.3rem  ;
  padding: 10px;
}

.meninggal{
  text-align: center;
  border-width: px;
  border-color: black;
  background-color:rgb(172, 7, 248);
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  width: 140px;
  font-size: 1.3rem  ;
  padding: 10px;
}
.sembuh{
  text-align: center;
  border-width: px;
  border-color: black;
  background-color:rgb(20, 123, 241);
  height: 140px;
  border-radius: 10px;
  border-style: solid;
  margin: 10px;
  width: 140px;
  font-size: 1.3rem  ;
  padding: 10px;
}

.cont{
  display: flex;
  align-items: left;
  justify-content: left;

}
.cont2{
  float: left;
  display: flex;
 
} 

.nama{
  background-color: rgb(195, 223, 255);
  text-align: left;
  justify-content: left;
}
